<table class="dashboard">
	<tbody>
		<tr>
			<td>
				<div class="dashboard_section">
					<h3 class="title_panel">Staff members</h3>
						<%= render :partial => 'users/overview_staff', :locals => {:users => @users}    %>
				</div>
			</td>
			<td>
				<div class="dashboard_section">
					<h3 class="title_panel">Assigned tasks</h3>
					<div id="dashboard_tasks">
					</div>
					
				</div>
			</td>
			<td>
				<div class="dashboard_section">
					<h3 class="title_panel">Summary</h3>
					<div id="dashboard_summary">
					</div>
				</div>
			</td>
		</tr>
	
	</tbody>
	
</table>
