<table id="table_staff_overview"  class="dashboard">
	<tbody>
		<tr>
			<td>
				<div class="dashboard_section staff_tasks">
					<h3 class="title_panel">Assigned tasks</h3>
						<%=render :partial => "tasks/overview_tasks", :locals => { :user_id => @current_user.id, :table_class => 'overview_staff_tasks' } %>
				</div>
			</td>
			<td>
				<div class="dashboard_section staff_task_description">
					<h3 class="title_panel">Task description</h3>
						<div id="task_summary">
						</div>
				</div>
				
				<div class="overview_staff_fields ">
					<div id="fill_task_form">
					</div>
				</div>
				
			</td>
		</tr>
		
	
	</tbody>
	
</table>