

<%= form_for(@task_type) do |f| %>
<% if @task_type.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@task_type.errors.count, "error") %> prohibited this task type from being saved:</h2>
	<ul>
		<% @task_type.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>


<fieldset class="fields_edit">
	<ol>
		<li>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</li>
	</ol>
</fieldset>

<div class="actions">
	<%= f.submit %>
</div>
<% end %> 

