<div>
	<h3 class="title_panel">List of Task Types</h3>
	<%= link_to image_tag("add.png", :border => 0, :title => 'New'),  new_task_type_path, :class=>"link_image" %>
</div>
<table class="table_index">
	<tr>
		<th>Name</th>
		<th class="actions_title">Actions</th>
	</tr>
	<% @task_types.each do |task_type| %>
	<tr class="<%= cycle("odd", "even") %>">
		<td><%= task_type.name %></td>
		<td><%= link_to image_tag("search.png", :border => 0, :title => 'View'), task_type, :class=>"actions_table" %>
		<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), edit_task_type_path(task_type), :class=>"actions_table" %>
		<%= link_to image_tag("remove.png", :border => 0, :title => 'Delete'), task_type, confirm: 'Are you sure that you want to delete?', method: :delete, :class=>"actions_table" %> </td>
	</tr>
	<% end %>
</table>
<br />
