
<div class="show_panel">
	<h3 class="show_panel_title">Task Type details</h3>
	<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), edit_task_type_path(@task_type), :class=>"link_image" %>
	<%= link_to image_tag("back.png", :border => 0, :title => 'Back') , task_types_path, :class=>"link_image" %>
	<div style="clear:both"></div>
	<div class="show_panel_contents">
		<table>
			<tr>
				<th>Name:</th>
				<td><%= @task_type.name %></td>
			</tr>
		</table>
	</div>
</div>

