<%= form_tag @base_url + '/log_time', :id=>'form_fill_task', :remote=>true do %>
	<%= hidden_field_tag 'task_id', @task.id.to_s %>
	<fieldset class="fields_edit">
		<ol>
			<li>
				<%= label_tag 'Summary' %>
				<%= text_area_tag :summary, @daily_task.summary %>
			</li>
			<li>
				<%= label_tag 'Quantity' %>
				<%= text_field_tag :ammount, @daily_task.ammount %>
			</li>
		</ol>
		<div id="actions_staff">
			<% state= @task.get_state(@current_user.id)%>
			<% if state == 2 %>
				<%= image_submit_tag "stop.png", :class=> 'play_pause_stop_buttons', :title=>'Stop', :name=>'Stop'%>
			<% else%>
				<%= image_submit_tag "play.png", :class=> 'play_pause_stop_buttons', :title=> 'Start', :name=>'Start'%>
			<% end %>
		</div>
		<div class="actions" id="actions_staff">
			<%= submit_tag "Store info"%>	
		</div>
	</fieldset>
	
	
<% end %>