<%= form_or_remote_form(@task) do |f| %>


<% if @task.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@task.errors.count, "error") %> prohibited this organization from being saved:</h2>
	<ul>
		<% @task.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>


<fieldset class="fields_edit">
	<ol>
		<li>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</li>
		<li>
			<%= f.label :description %>
			<%= f.text_field :description %>
		</li>
		<li>
			<%= f.label :max_time %>

			<%= f.text_field :max_time, :class=>'spin_input' %>
				
		</li>
		<li>
			<%= f.label :task_type %>
			<%= f.collection_select :task_type_id, TaskType.find(:all), :id, :name %>

		</li>
	</ol>
</fieldset>

<div class="actions">
	<%= f.submit %>
</div>
<% end %> 




