
<table class="table_overview <%= table_class %>">

	<% @tasks.each do |task| %>
	<tr class="<%= cycle("odd", "even") %>">
		<td>
				<%=hidden_field_tag 'user_id', user_id.to_s %>
			
			<%=hidden_field_tag 'task_id', task.id.to_s %><%= task.name %></td>
	</tr>
	<% end %>
</table>
<br />

