<div class="section_summary">
	<%= label_tag 'State: ', nil, :class=>'label_summary'%>
	<% state= @task.get_state(user_id)%>
	<% if state == 1 %>
		Not started
	<% else %>
		<% if state == 2%>
			In progress
		<% else %>
			<% if state == 3%>
				Finished
			<%else%>	
				Not determined
			<%end%>
		<%end%>
	<%end%>
</div>

<div class="section_summary">
	<%= label_tag 'Description: ', nil, :class=>'label_summary'%>
	 <%= @task.description%>
</div>

<div class="section_summary">
	<%= label_tag 'Maximum time: ', nil, :class=>'label_summary'%>
	 <%= @task.max_time%>
</div>


<div class="section_summary">
	<% if @task.activities.size > 0 %>
	<%= label_tag 'Activities:', nil, :class=>'label_summary'%>
	
	<div id="summary_table_wrapper">
		<table class="table_index">
			<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>
			<% @task.activities.each do |activity|%>
			<tr class="<%= cycle("odd", "even") %>">
				<td><%= activity.name %></td>
				<td><%= activity.description %></td>
			</tr>
			<% end %>
		</table>
	</div>
	<% end %>
</div>

<% if !@daily_task.nil?%>
	<% if @daily_task.time_logs.size > 0 %>
	<div class="section_summary">
		<%= label_tag 'Total time spent today (hh:mm:ss): ', nil, :class=>'label_summary'%>
		<%= @daily_task.total_time_formatted%>
		<% if @daily_task.total_time > @task.max_time_in_seconds %>
			<span class="warning_summary_label"> (exceeded)</span>
		<%end%>
	</div>
	
	
	<div class="section_summary">
		<%= label_tag 'Today time logs:', nil, :class=>'label_summary'%>
		
		<div id="summary_table_wrapper">
			<table class="table_index">
				<tr>
					<th>Start time</th>
					<th>End time</th>
				</tr>
				<% @daily_task.time_logs.each do |time_log|%>
				<tr class="<%= cycle("odd", "even") %>">
					<td><%= time_log.start_time.to_formatted_s(:long) unless time_log.start_time.nil? %></td>
					<td><%= time_log.end_time.to_formatted_s(:long) unless time_log.end_time.nil? %></td>
				</tr>
				<% end %>
			</table>
		</div>
		
	</div>
	
	
	<% end %>
<% end%>
