<%= form_tag save_assign_url, :method => :post do %>
<%= hidden_field_tag(:task_id, @task.id) %>
<div id="table_wrapper_popup">
	<table class="table_index">
		<tr>
			<th></th>
			<th>Name</th>
			<th>Position</th>
		</tr>
		<% @users.each do |user| %>
		<tr class="<%= cycle("odd", "even") %>">
			<td><%= check_box_tag 'user_assigns[]', user.id, user.tasks.include?(@task) %></td>

			<td><%= user.name %></td>
			<td><%= user.position %></td>
		</tr>
		<% end %>
	</table>
</div>
<div class="actions">
	<%=submit_tag%>
</div>
<%end%>
