<div>
	<h3 class="show_panel_title">Edit Task</h3>
	<%= link_to image_tag("search.png", :border => 0, :title => 'View'), @task, :class=>"link_image" %>
	<%= link_to image_tag("back.png", :border => 0, :title => 'Back') , tasks_path, :class=>"link_image" %>
	<div style="clear:both"></div>
</div>
<%= render 'form' %> 
