<div id="modal-container"></div>
<div id="modal">
	<%= link_to image_tag("delete.png", :border => 0, :title => 'Close'),  "#", :class=>"close", :remote => true  %>
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "popup_assign" %>
<% end %>

<div>
	<h3 class="title_panel">List of Tasks</h3>
	<%= link_to image_tag("add.png", :border => 0, :title => 'New'),  new_task_path, :class=>"link_image" %>
</div>
<table class="table_index">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Max. time</th>
		<th>Task type</th>
		<th class="actions_title">Actions</th>
	</tr>
	<% @tasks.each do |task| %>
	<tr class="<%= cycle("odd", "even") %>">
		<td><%= task.name %></td>
		<td><%= task.description %></td>
		<td><%= task.max_time %></td>
		<td><%= task.task_type %></td>
		<td><%= link_to image_tag("search.png", :border => 0, :title => 'View'), task, :class=>"actions_table" %>
		<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), edit_task_path(task), :class=>"actions_table" %>
		<%= link_to image_tag("remove.png", :border => 0, :title => 'Delete'), task, confirm: 'Are you sure that you want to delete?', method: :delete, :class=>"actions_table" %> 
		<%= link_to image_tag("assign.png", :border => 0, :title => 'Assign'), assign_task_path(task.id), :class=>"actions_table", :remote=>"true" %></td>
	</tr>
	<% end %>
</table>
<br />

