<div>
<h3 class="show_panel_title">New Task</h3>
<% if !request.xhr? %>
<!-- Back link just if request wasnt ajax -->
  <%= link_to image_tag("back.png", :border => 0, :title => 'Back') , tasks_path, :class=>"link_image" %>
<%end%>

<div style="clear:both"></div>
</div>
<%= render 'form' %>

