
<div class="show_panel">
	<h3 class="show_panel_title">Task details</h3>
	<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), edit_task_path(@task), :class=>"link_image" %>
	<%= link_to image_tag("back.png", :border => 0, :title => 'Back') , tasks_path, :class=>"link_image" %>
	<div style="clear:both"></div>
	<div class="show_panel_contents">
		<table>
			<tr>
				<th>Name:</th>
				<td><%= @task.name %></td>
			</tr>
			<tr>
				<th>Description:</th>
				<td><%= @task.description %></td>
			</tr>
			<tr>
				<th>Max. time:</th>
				<td><%= @task.max_time %></td>
			</tr>
			<tr>
				<th>Task type:</th>
				<td><%= @task.task_type %></td>
			</tr>
		</table>
	</div>
</div>


