<%= form_for @user  do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>


<fieldset class="fields_edit">
	<ol>
		<li>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</li>
		<li>
			<%= f.label :position %>
			<%= f.text_field :position %>
		</li>
		<li>
			<%= f.label :phone_number %>
			<%= f.text_field :phone_number %>
		</li>
		<li>
			<%= f.label :department %>
			<%= f.select :department_id %>
		</li>
	</ol>
</fieldset>

<div class="actions">
	<%= f.submit %>
</div>
<% end %> 

