<table class="table_overview overview_staff">
	<% users.each do |user| %>
	<tr class="<%= cycle("odd", "even") %>">
		
		<td><%=hidden_field_tag 'user_id', user.id.to_s %><%= user.name %></td>
		
	</tr>
	<% end %>
</table>
