<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
<% end %>

<fieldset class="fields_edit">
	<ol>
		<li>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</li>
		<li>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</li>
		<li>
			<%= f.label :position %>
			<%= f.text_field :position %>
		</li>
		<li>
			<%= f.label :phone_number %>
			<%= f.text_field :phone_number %>
		</li>
		<li>
			<%= f.label :organization %>
			<%= collection_select :organization, :organization_id,  @organizations, :id, :name,  :selected => @selected_organization%> 
		</li>
		<li>
			<%= f.label :department %>
			<div id="departments">
				<%= render :partial => 'departments',   :object => @departments %>
			</div>
		</li>
		<% if can? :read, Role %>
		<li>
			<%= f.label :roles %>
			<ul id="roles_list" class="no-pad no-bullets">
				<%= f.collection_select( :role, Role.all, :id, :name, :selected=>(@user.role.id unless @user.role.nil?) ) %>
				<!-- <%= habtm_checkboxes(@user, :role_ids, @accessible_roles, :name) %> -->
			</ul>
		</li>
		<li>
			<%= f.label :password %> 
			<div class="short_input">
			<%= f.password_field :password %>
			</div>
			<i>(leave blank if you don't want to change it)</i>
		</li>
		<li>
			<%= f.label :password_confirmation %>
			<div class="short_input">
				<%= f.password_field :password_confirmation %>
			</div>
		</li>
<!-- 		<li>
			<%= f.label :current_password %>
			<div class="short_input">
				<%= f.password_field :current_password %>
			</div>
			<i>(we need your current password to confirm your changes)</i>
		</li> -->

	
		<% end %>
	</ol>
</fieldset>

