<div>
	<h3 class="show_panel_title"><%= @user == @current_user ? "Your Account Settings" : "Edit User" %></h3>
	<%= link_to image_tag("search.png", :border => 0, :title => 'View'), @user, :class=>"link_image" %>
	<%= link_to image_tag("back.png", :border => 0, :title => 'Back') , users_path, :class=>"link_image" %> <div style="clear:both"></div>
</div>

<%= form_for(@user, :html => { :method => :put, :autocomplete => "off" }) do |f| %>

	<%= render :partial => 'user_fields', :locals => { :f => f } %>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
