<div>
	<h3 class="title_panel">List of Users</h3>
	<%= link_to image_tag("add.png", :border => 0, :title => 'New'),  new_user_path, :class=>"link_image" %>
</div>
<table class="table_index">
	<tr>
		<th>Name</th>
		<th>Position</th>
	    <th>Phone number</th>
	    <th>Department</th>
		<th class="actions_title">Actions</th>
	</tr>
	<% @users.each do |user| %>
	<tr class="<%= cycle("odd", "even") %>">
		<td><%= user.name %></td>
		<td><%= user.position %></td>
		<td><%= user.phone_number %></td>
		<td><%= user.department %></td>
		<td><%= link_to image_tag("search.png", :border => 0, :title => 'View'), user, :class=>"actions_table" %>
		<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), edit_user_path(user), :class=>"actions_table" %>
		<%= link_to image_tag("remove.png", :border => 0, :title => 'Delete'), user, confirm: 'Are you sure that you want to delete?', method: :delete, :class=>"actions_table" %> </td>
	</tr>
	<% end %>
</table>
