
<div>
	<h3 class="show_panel_title">New User</h3>
	<%= link_to image_tag("back.png", :border => 0, :title => 'Back') , users_path, :class=>"link_image" %>
	<div style="clear:both"></div>
</div>


<%= form_for(@user, :html => {:autocomplete => "off"}) do |f| %>

 
  <%= render :partial => 'user_fields', :locals => { :f => f } %>
 

  <div class="actions">
		<%= f.submit %>
	</div>
<% end %>

