
<div class="show_panel">
	<h3 class="show_panel_title">User details</h3>
	<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), edit_user_path(@user), :class=>"link_image" %>
	<%= link_to image_tag("back.png", :border => 0, :title => 'Back') , users_path, :class=>"link_image" %>
	<div style="clear:both"></div>
	<div class="show_panel_contents">
		<table>
			<tr>
				<th>Name:</th>
				<td><%= @user.name %></td>
			</tr>
			<tr>
				<th>Position:</th>
				<td><%= @user.position %></td>
			</tr>
			<tr>
				<th>Phone number:</th>
				<td><%= @user.phone_number %></td>
			</tr>
			<% if !@user.department.nil? %>
				<tr>
					<th>Organization</th>
					<td><%= @user.department.organization %></td>
				</tr>
				<tr>
					<th>Department:</th>
					<td><%= @user.department %></td>
				</tr>
			<% end %>

			<tr>
				<th>E-mail:</th>
				<td><%= @user.email %></td>
			</tr>
			<% if @user.roles.count > 0%>
				<tr>
					<th>Role:</th>
					<td><%= @user.roles.first.name %></td>
				</tr>
			<%end%>
		</table>
	</div>
</div>

<!-- <%= link_to_if(can?(:update,@user), "Edit", edit_user_path(@user)) %> | -->
