<div class="login_wrapper">
	<p class="notice">
		<%= notice %>
	</p>
	<p class="alert">
		<%= alert %>
	</p>
	<div class="login_content">
		<h2>Forgot your password?</h2>
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class =>"form_auth" }) do |f| %>
		<%= devise_error_messages! %>
		<fieldset>
			<ol>
				<li>
					<%= f.label :email %>
					<%= f.email_field :email %>
				</li>
			</ol>
		</fieldset>
		<fieldset class="buttons" >
			<ol>
				<li class="commit"></li>
			</ol>
			<%= f.submit "Send me reset password instructions" %>
		</fieldset>
		<div class="devise_links">
			<%= render :partial => "devise/shared/links" %>
		</div>
		<% end %>
	</div>
</div>
