<%= form_for(@department) do |f| %>
<% if @department.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>
	<ul>
		<% @department.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>


<fieldset class="fields_edit">
	<ol>
		<li>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</li>
		<li>
			<%= f.label :description %>
			<%= f.text_field :description %>
		</li>
		<li>
			<%= f.label :organization %>
			<%= f.collection_select :organization_id, Organization.find(:all), :id, :name %>
		</li>
	</ol>
</fieldset>

<div class="actions">
	<%= f.submit %>
</div>
<% end %> 


