<div >
	<h3 class="title_panel">List of Departments</h3>
	<%= link_to image_tag("add.png", :border => 0, :title => 'New'),  new_department_path, :class=> "link_image" %>
</div>
<table class="table_index">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Organization</th>
		<th class="actions_title">Actions</th>
	</tr>
	<% @departments.each do |department| %>
	<tr class="<%= cycle("odd", "even") %>">
		<td><%= department.name %></td>
		<td><%= department.description %></td>
		<td><%= department.organization %></td>
		<td><%= link_to image_tag("search.png", :border => 0, :title => 'View'), department, :class=>"actions_table" %>
		<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), edit_department_path(department), :class=>"actions_table" %>
		<%= link_to image_tag("remove.png", :border => 0, :title => 'Delete'), department, confirm: 'Are you sure that you want to delete?', method: :delete, :class=>"actions_table" %> </td>
	</tr>
	<% end %>
</table>
<br />
