<div>
	<h3 class="show_panel_title">New Department</h3>
	<%= link_to image_tag("back.png", :border => 0, :title => 'Back') , departments_path, :class=>"link_image" %>
	<div style="clear:both"></div>
</div>
<%= render 'form' %>
