
<div class="show_panel">
	<h3 class="show_panel_title">Department details</h3>
	<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), edit_department_path(@department), :class=>"link_image" %>
	<%= link_to image_tag("back.png", :border => 0, :title => 'Back') , departments_path, :class=>"link_image" %>
	<div style="clear:both"></div>
	<div class="show_panel_contents">
		<table>
			<tr>
				<th>Name:</th>
				<td><%= @department.name %></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><%= @department.description %></td>
			</tr>
			<tr>
				<th>Organization</th>
				<td><%= @department.organization %></td>
			</tr>
		</table>
	</div>
</div>
