<div>
	<h3 class="title_panel">Export data</h3
</div>

<%= form_tag report_csv_url + '.csv', :method => :post do%>

	<fieldset class="fields_edit">
	
		<ol>
			<li>
				<%= label_tag 'User' %>
				<%= collection_select :report, :user_id, @users, :id, :name , :prompt => '-- All users --' %>
			</li>
			
			<li>
				<%= label_tag 'From date' %>
				<%= datepicker_input "report","from", :id => 'report_from'%>
			</li>
			
			<li>
				<%= label_tag 'To date' %>
				<%= datepicker_input "report","to", :id => 'report_to'%>
			</li>
			
			<li>
				<div class="actions" id="actions_staff">
					<%= submit_tag "Export", :name=>'TimeSheets'%>	
				</div>
			</li>
			
		</ol>
		
		
		
	</fieldset>


<%end%>
