

<div class="login_wrapper">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<div class="login_content">
		<h2>Opentask Login</h2>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class =>"form_auth", :autocomplete => "off"} ) do |f| %>
		  	<fieldset>
			  	<ol>
			  		<li>
			  			<%= f.label :email %>
			    		<%= f.email_field :email, :class=>'auth_field' %>
			    	</li>
			  		<li>
			  			<%= f.label :password %>
			  			<%= f.password_field :password, :class=>'auth_field' %>
			  		</li>
			  		<% if devise_mapping.rememberable? -%>
			  		<li class="boolean">
			  			<%= f.check_box :remember_me %> <%= f.label :remember_me, :id=>'label_remember' %>
			  		</li>
			  		<% end -%>
			  			
			  	</ol>
			</fieldset>
			
			<fieldset class="buttons" >
				<ol>
					<li class="commit"></li>
				</ol>
				<%= f.submit "Sign in", :class=> "button", :id => "submit-login"%>
				  
			</fieldset>
			<div class="devise_links">
				  	<%= render :partial => "devise/shared/links" %>
			</div>
		<% end %>
	</div>
</div>
