
*         { margin: 0; padding: 0; }

html {
  // background: url('/assets/background.png') no-repeat center center fixed; 
        // -webkit-background-size: cover;
        // -moz-background-size: cover;
        // -o-background-size: cover;
        // background-size: cover;
   background-color: #F3F3F3;
}
body        { font-family: Georgia, serif;}

.clear        { clear: both; }

ol, ul {
  list-style: none;
}

body.body_login .login_wrapper {
  width: 500px;margin: 70px auto;
}

.login_content {
  box-shadow: 0 1px 2px rgba(0,0,0,0.37);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.37);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.37);
  background: white;
  padding: 13px 30px;
}

.login_content h2 {
  background: #EFEFEF;
  background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#DFE1E2));
  background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.37);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.37);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.37);
  text-shadow: white 0 1px 0;
  border-bottom: 1px solid #EDEDED;
  padding: 5px 10px 3px 10px;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 140%;
  margin: -13px -30px 20px -30px;
  color: #5E6469;
  background: #6A7176;
  background: -webkit-gradient(linear, left top, left bottom, from(#6A7176), to(#4D5256));
  background: -moz-linear-gradient(-90deg, #6A7176, #4D5256);
  border-bottom: 1px solid #44484B;
  text-shadow: black 0 1px 0;color: white;
  margin: -13px -30px 20px -30px;
}

.form_auth fieldset      
{ 
 box-shadow: none;
 -moz-box-shadow: none;
 -webkit-box-shadow: none;
 background: none;
 padding: 0;
 margin-bottom: 0;
 border: 0;
 }

.form_auth fieldset li {
  padding: 10px 0;
}

.form_auth input[type="submit"] {
  box-shadow: 0 1px 2px rgba(0,0,0,0.37);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.37);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.37);
  background: #838A90;
  background: -webkit-gradient(linear, left top, left bottom, from(#838A90), to(#414549));
  background: -moz-linear-gradient(-90deg, #838A90, #414549);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  text-shadow: black 0 1px 0;
  text-decoration: none;
  margin-right: 3px;
  font-weight: bold;
  font-size: 1.0em;
  cursor: pointer;
  padding: .6em 1.4em .5em 1.3em;
  border: none;
  color: #EFEFEF;
  border-image: initial;
}


.devise_links{
  float: right;margin-top: -32px;
}

.form_auth fieldset input[type="email"], .form_auth fieldset input[type="password"] {width: 70%;}

.form_auth fieldset ol>li label       { 
  display: block;
  width: 20%;
  float: left;
  font-size: 1.0em;
  font-weight: bold;
  color: #5E6469;
  }
  
  
fieldset.buttons {margin-left: 20%;}


.notice {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: white 0 1px 0;
  background: none;
  color: #666;
  font-weight: bold;
  line-height: 1.0em;
  margin-bottom: 10px;
  padding: 0;
}

.alert
{
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: white 0 1px 0;
  background: none;
  color: red;
  font-weight: bold;
  line-height: 1.0em;
  margin-bottom: 10px;
  padding: 0;
}
.form_auth fieldset ol>li.boolean label {
  padding-left: 3%;
  width: 60%;
  text-transform: none !important;
  font-weight: normal;
}


li.boolean {
  margin-left: 20%;
}
//   
.form_auth input[type=checkbox]{ float: left; }

.auth_field{
  border: 1px solid #C9D0D6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  padding: 8px 10px 7px;
  border-image: initial;
}

//             
// .form_auth .button       { 
      // background: url(/assets/button-bg.png) repeat-x top center; border: 1px solid #999;
            // -moz-border-radius: 5px; padding: 5px; color: black; font-weight: bold;
            // -webkit-border-radius: 5px; font-size: 13px;  width: 70px; 
            // }
// 
// #submit-login {
  // margin: 0 auto;
// }
// .button:hover   { background: white; color: black; }
// 
// .auth_field
// {
  // font-weight: bold;
// }
// 
// #label_remember {
  // font-size: 11px;
// }
// 
// .devise_links {
  // text-align: right;
  // margin-top: 10px;
  // margin-right: -25px;
// }
