// Place all the styles related to the Overview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.dashboard{
  border: 0;
  width: 70%;
  margin: 1em auto;
}

.dashboard_section {
  background: #ECEDEE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 0 1px 4px #dddddd;
  -moz-box-shadow: inset 0 1px 4px #dddddd;
  -webkit-box-shadow: inset 0 1px 4px #dddddd;
  margin-bottom: 20px;
  height: 400px;
  overflow: auto;
 }
 
table.dashboard td {
  width: 33%;
  padding: 4px 10px 4px 5px;
}

table.dashboard tr {
  vertical-align: top;
}


table.dashboard td {
  border-bottom: none;
 }


.overview_panel {
  display: inline;
  position: absolute;
  height: 400px;
  width: 18%;
  top: 260px; 
}

.overview_panel_left{
  @extend .overview_panel;
  left: 14%;
}

.overview_panel_center{
  @extend .overview_panel;
  left: 41%;
}

.overview_panel_right{
  @extend .overview_panel;
  left: 67%;
}

// Overview staff specific
.staff_tasks{
  width: 75%
}

#table_staff_overview {
  width: 55%;
}

.play_pause_stop_buttons {
  width: 40px;
}

.staff_task_description{
  height: 300px;
}

#actions_staff{
  margin-top: 10px;
  text-align: center;
}


#summary_table_wrapper {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
}

.label_summary {
   font-size: 12px;
   color: #5E6469;
   
   font-weight: bold;
}

.section_summary{
  margin-top: 10px;
  display: block;
  margin-left: 5%;
}

.warning_summary_label {
  font-size: 10px;
  color: red;
}
