// Place all the styles related to the report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#report_from{
  width : 10%;
}

#report_to{
  width : 10%;
}
