html {
  // background: url('/assets/background.png') no-repeat center center fixed; 
        // -webkit-background-size: cover;
        // -moz-background-size: cover;
        // -o-background-size: cover;
        // background-size: cover;
    background-color: #F3F3F3;
  
}

body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

// a {
  // color: #000;
  // &:hover {
    // color: #fff;
    // background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }


i{
  font-size: 0.8em;
}

.notice {
  color: green; 
  text-align: center;
  }
  
.alert {
  text-align: center;
  }

.field_with_errors {
  padding: 2px;
  background-color: red;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: none; } }



.body-div {
  width: 100%;
  margin: 0px auto 0 auto;  
}

#nav_wrap {
  height: 2.56em;
  background: white url(nav_bg.png) repeat-x 0 49%;
  font: normal 1.2em/41px Gill Sans, Lucida Grande, Arial;
  margin: 0 auto;
  border-bottom: .1em solid #4A4A4A;
  text-align: center;
}

#nav_wrap ul {
list-style: none;
padding: 0;
margin: 0 auto;
width: 500px;
}

#nav_wrap li {
list-style: none;
float: left;
margin-top: 10px;
}

#nav_wrap li a {
color: white;
text-transform: uppercase;
letter-spacing: .1em;
padding: 11px 15px;
text-decoration: none;
}

#logo_div {
  height: 168px;
  width: 100%;
  background-color: #259db1;
  text-align: center;
}




#img_logo img {
  margin-top: 35px;
}

a img {
  border: none;
}

#nav_wrap li a:hover {
  background-color:#4b4b4b;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:.1em;
  padding:11px 14px;
  height:43px;
  border-right:.1em solid #5e5e5e;
  border-left:.1em solid #505050;
}

body.overview .content {
  width: 100%;
  margin: 1em auto;
}
.content {
width: 740px;
margin: 3.5em auto;
}


.active {
  background-color:#666;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:.1em;
  padding:11px 14px;
  height:43px;
  border-right:.1em solid #676767;
  border-left:.1em solid #505050;
}

body.overview  li.li_overview a, body.organizations  li.li_organization a, body.departments  li.li_department a, body.users  li.li_user a, body.activities  li.li_activity a, body.tasks  li.li_task a, body.task_types li.li_task_type a ,body.reports  li.li_report a  {
  @extend .active;
}

.sign_out {
  float:right;
  color: white;
  margin-right: 15px;
}

.username_label {
  float:right;
  color: #259DB1;
  margin-right: 5px;
}


.role_label {
  float:right;
  color: #AAAAAA;
  margin-right: 35px;
  font-size: 11px;
}


.show_panel{
  background: #F4F4F4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 0 1px 4px #dddddd;
  -moz-box-shadow: inset 0 1px 4px #dddddd;
  -webkit-box-shadow: inset 0 1px 4px #dddddd;
  margin-bottom: 20px;
  text-align:left;
}

.show_panel_title {
  background: #EFEFEF;
  background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#DFE1E2));
  background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  text-shadow: white 0 1px 0;
  border-bottom: 1px solid #EDEDED;
  padding: 5px 10px 3px 10px;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 0.5em;
  color: #5E6469;

}

.show_panel th{
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background: none;
  width: 150px;
  font-size: 0.9em;
  padding-left: 0;
  text-transform: uppercase;
  color: #5E6469;
  text-shadow: white 0 1px 0;
  
}

.show_panel th, .show_panel td 
{
  padding: 8px 12px 6px 12px;
  vertical-align: top;
  border-bottom: 1px solid #E8E8E8;
}

.title_panel
{
  @extend .show_panel_title;
  margin-bottom: 0.3em;
}

.link_image{
  float:right;
}

.link_image img{
  width: 30px;
}

.task_popup img{
  width: 30px;
}

.activity_task_add select {
  float: left;
  margin-top: 5px;
}


.fields_edit {
  background: #F4F4F4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 0 1px 4px #dddddd;
  -moz-box-shadow: inset 0 1px 4px #dddddd;
  -webkit-box-shadow: inset 0 1px 4px #dddddd;
  text-align: left;
  border: 0;
}

.fields_edit ol{
  list-style: none;
}

.fields_edit ol > li{
  padding: 10px;
}

.fields_edit ol > li label{
  display: block;
  width: 20%;
  float: left;
  font-size: 1.0em;
  font-weight: bold;
  color: #5E6469;
}

.fields_edit ol > li>input, .fields_edit ol > li textarea , .fields_edit ol > li > .field_with_errors>input, .fields_edit ol > li> .field_with_errors textarea  
{
  width: 70%;
  border: 1px solid #C9D0D6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  padding: 8px 10px 7px;
  border-image: initial;
}

div.actions {
  text-align: center;
  margin-top: 40px;
}
div.actions input[type="submit"] {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  background: #838A90;
  background: -webkit-gradient(linear, left top, left bottom, from(#838A90), to(#414549));
  background: -moz-linear-gradient(-90deg, #838A90, #414549);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  text-shadow: black 0 1px 0;
  text-decoration: none;
  margin-right: 3px;
  font-weight: bold;
  font-size: 1.0em;
  cursor: pointer;
  padding: .6em 1.4em .5em 1.3em;
  border: none;color: #EFEFEF;
  border-image: initial;
}

.short_input {
  width: 100px;
  display: inline;
  
}

.short_input > input {
border: 1px solid #C9D0D6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  padding: 8px 10px 7px;
}

#roles_list 
{
  margin-left: 20%;
}

#roles_list >label {
  width: 32%;
  font-weight: normal;
}



// This partial should be @imported into your layout Sass file, or included via the Asset Pipeline
//

#modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
}

#modal {
  display: none;
  position: absolute;
  width: 600px;
  margin: 0 auto;
  padding: 40px 20px 20px 20px;
  background: #fff;
  border: 5px solid #eee;
  background-color: #F4F4F4;
  margin-left: 40px;
  
  & > .close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #666;
    &:hover, &:active {
      color: #000;
    }
  }
}

#table_wrapper_popup {
  width: 550px;
  height: 220px;
  overflow: auto;
}

#table_summary {

}

.login_wrapper .alert {
  color: #5E6469;
}


