
.actions_table img {
  width: 30px;
}

.actions_title {
  color: #777;
  width: 150px;
}

// Tables for index 


table.table_index {
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  border-spacing: 0;
  text-align: left; 
}

table.table_index th
{
  background: #E2E2E2;
  background: -webkit-gradient(linear, left top, left bottom, from(#E2E2E2), to(#D2D4D6));
  background: -moz-linear-gradient(-90deg, #E2E2E2, #D2D4D6);
  border-bottom: 1px solid #DFE1E2;
  color: #5E6469;
  padding-left: 10px;
}

table.table_index td 
{
  padding: 10px 12px 8px 12px;
  border-bottom: 1px solid #E8E8E8;
}

table.table_index tr.even td 
{
  background: #C6E6EF; 
}

table.table_index tr.odd td 
{
  background: #f4f5f5; 
}

// Tables for overview


table.table_overview {
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  border-spacing: 0;
  text-align: left; 
}

table.table_overview td 
{
  padding: 10px 12px 8px 12px;
  border-bottom: 1px solid #E8E8E8;
}
table.table_overview tr
{
  cursor: pointer;
}
  


table.table_overview tr.even 
{
  background-color: #F4F5F5; 
}

table.table_overview tr.odd
{
  background-color: #ECEDEE; 
}

.selected_row_style {
  background-color: #259DB1;
  color: white;
  font-weight: bold;  
}


table.table_overview tr:hover{
  @extend .selected_row_style;
}

table.table_overview tr td.highlight{
  @extend .selected_row_style;
}