<%= form_for(@organization) do |f| %>
<% if @organization.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>
	<ul>
		<% @organization.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>


<fieldset class="fields_edit">
	<ol>
		<li>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</li>
		<li>
			<%= f.label :address %>
			<%= f.text_field :address %>
		</li>
	</ol>
</fieldset>

<div class="actions">
	<%= f.submit %>
</div>
<% end %> 