<div>
	<h3 class="title_panel">List of Organizations</h3>
	<%= link_to image_tag("add.png", :border => 0, :title => 'New'),  new_organization_path, :class=>"link_image" %>
</div>
<table class="table_index">
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th class="actions_title">Actions</th>
	</tr>
	<% @organizations.each do |organization| %>
	<tr class="<%= cycle("odd", "even") %>">
		<td><%= organization.name %></td>
		<td><%= organization.address %></td>
		<td><%= link_to image_tag("search.png", :border => 0, :title => 'View'), organization, :class=>"actions_table" %>
		<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), edit_organization_path(organization), :class=>"actions_table" %>
		<%= link_to image_tag("remove.png", :border => 0, :title => 'Delete'), organization, confirm: 'Are you sure that you want to delete?', method: :delete, :class=>"actions_table" %> </td>
	</tr>
	<% end %>
</table>
<br />
