
<div class="show_panel">
	<h3 class="show_panel_title">Organization details</h3>
	<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), edit_organization_path(@organization), :class=>"link_image" %>
	<%= link_to image_tag("back.png", :border => 0, :title => 'Back') , organizations_path, :class=>"link_image" %>
	<div style="clear:both"></div>
	<div class="show_panel_contents">
		<table>
			<tr>
				<th>Name:</th>
				<td><%= @organization.name %></td>
			</tr>
			<tr>
				<th>Address:</th>
				<td><%= @organization.address %></td>
			</tr>
		</table>
	</div>
</div>
