<div id="modal-container"></div>
<div id="modal">
	<%= link_to image_tag("delete.png", :border => 0, :title => 'Close'),  "#", :class=>"close", :remote => true  %>
</div>

<%= form_for(@activity) do |f| %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "popup_task" %>
<% end %>


<% if @activity.errors.any? %>

<div id="error_explanation">
	<h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>
	<ul>
		<% @activity.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>


<fieldset class="fields_edit">
	<ol>
		<li>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</li>
		<li>
			<%= f.label :description %>
			<%= f.text_field :description %>
		</li>
		<li>
			<%= f.label :task %>
			<div class="activity_task_add">
			<div class="activity_task_select">
				<%= render :partial => 'tasks/tasks', :locals => {:tasks => @tasks, :f=> f}    %>
			</div>
   		 	<%= link_to image_tag("add.png", :border => 0, :title => 'New task'),  new_task_path, :class=>"task_popup", :remote => true  %>
			</div>
		</li>
		
	</ol>
</fieldset>

<div class="actions">
	<%= f.submit %>
</div>
<% end %> 
