<div>
	<h3 class="show_panel_title">Edit Activity</h3>
	<%= link_to image_tag("search.png", :border => 0, :title => 'View'), @activity, :class=>"link_image" %>
	<%= link_to image_tag("back.png", :border => 0, :title => 'Back') , activities_path, :class=>"link_image" %>
	<div style="clear:both"></div>
</div>
<%= render 'form' %> 


