<div>
	<h3 class="title_panel">List of Activities</h3>
	<%= link_to image_tag("add.png", :border => 0, :title => 'New'),  new_activity_path, :class=>"link_image" %>
</div>
<table class="table_index">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Task</th>
		<th class="actions_title">Actions</th>
	</tr>
	<% @activities.each do |activity| %>
	<tr class="<%= cycle("odd", "even") %>">
		<td><%= activity.name %></td>
		<td><%= activity.description %></td>
		<td><%= activity.task %></td>
		<td><%= link_to image_tag("search.png", :border => 0, :title => 'View'), activity, :class=>"actions_table" %>
		<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), edit_activity_path(activity), :class=>"actions_table" %>
		<%= link_to image_tag("remove.png", :border => 0, :title => 'Delete'), activity, confirm: 'Are you sure that you want to delete?', method: :delete, :class=>"actions_table" %> </td>
	</tr>
	<% end %>
</table>
<br />
