
<div class="show_panel">
	<h3 class="show_panel_title">Activity details</h3>
	<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit'), edit_activity_path(@activity), :class=>"link_image" %>
	<%= link_to image_tag("back.png", :border => 0, :title => 'Back') , activities_path, :class=>"link_image" %>
	<div style="clear:both"></div>
	<div class="show_panel_contents">
		<table>
			<tr>
				<th>Name:</th>
				<td><%= @activity.name %></td>
			</tr>
			<tr>
				<th>Description:</th>
				<td><%= @activity.description %></td>
			</tr>
			<tr>
				<th>Task:</th>
				<td><%= @activity.task %></td>
			</tr>
		</table>
	</div>
</div>

