<!DOCTYPE html>
<html>
<head>
  <title>Open task - Log in</title>
  <%= stylesheet_link_tag    "authentication" %>
  <%= stylesheet_link_tag "scaffolds" %>
  <%= javascript_include_tag "application" %>
  <%  javascript_include_tag "users/load_departments" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body class="body_login">
<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->
<div class="body-div">
<div id="logo_div">
	<%= link_to (image_tag ("logo_opentask.png")), root_url, :id=>"img_logo" %>
</div>

<%= yield %>
</div>
</body>
</html>
